.logoApp {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 24px;
  height: 24px;
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.logoText {
  font-size: 16px;
  margin-left: var(--space-xs);
  @media screen and (min-width: 768px) {
    margin-left: var(--space-xs);
    font-size: 20px;
    font-family: 'Open Sans' sans-serif;
  }
}
